/* ---------- Global ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f7fb;
    overflow-x: hidden;
}


/* ---------- Layout ---------- */

.wrapper {
    display: flex;
}


/* ---------- Sidebar ---------- */

.sidebar {
    width: 250px;
    height: 100vh;
    background: #0d6efd;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s ease;
    z-index: 999;
}

.logo {
    text-align: center;
    padding: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.logo h2 {
    font-size: 26px;
    font-weight: 700;
}

.sidebar ul {
    list-style: none;
    padding: 20px 0;
}

.sidebar ul li {
    margin: 8px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 14px 25px;
    transition: .3s;
}

.sidebar ul li a:hover,
.sidebar ul li.active a {
    background: #084298;
}

.sidebar i {
    margin-right: 10px;
}


/* ---------- Content ---------- */

.content {
    width: 100%;
    margin-left: 250px;
    padding: 30px;
    transition: .3s;
}

.content.full {
    margin-left: 0;
}


/* ---------- Topbar ---------- */

.topbar {
    background: #0d6efd;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.topbar h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

#menuBtn {
    font-size: 25px;
}

#languageSelect {
    width: 150px;
}


/* ---------- Cards ---------- */

.dashboard-card {
    color: #fff;
    border: none;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
}

.dashboard-card h5 {
    font-size: 18px;
}

.dashboard-card h2 {
    margin-top: 15px;
    font-size: 34px;
    font-weight: 700;
}

.customers {
    background: #0d6efd;
}

.income {
    background: #198754;
}

.expense {
    background: #dc3545;
}

.profit {
    background: #6610f2;
}

.paid {
    background: #20c997;
}

.unpaid {
    background: #fd7e14;
}


/* ---------- Table ---------- */

.table-card {
    border: none;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
}

.card-header {
    background: #0d6efd;
    color: #fff;
    padding: 18px;
}

.table {
    margin: 0;
}


/* ---------- Mobile ---------- */

@media (max-width:992px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background: #0d6efd;
        transition: 0.3s ease;
        z-index: 9999;
    }
    .sidebar.show {
        left: 0;
    }
    .content {
        margin-left: 0 !important;
    }
}